main {
    min-height: 80vh;
   
  }
  
  .rating span {
    margin: 0.1rem;
  }
  
  .rating svg {
    color: #f8e825;
  }
  
  .rating-text {
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
  }
  
  .product-title {
    height: 2.5em; /* Set a fixed height */
    /* Hide overflow content */
    text-overflow: wrap; /* Add ellipsis for long text */
    white-space: wrap; /* Prevent wrapping */
  }

  
  table td,
  table th {
    text-align: center;
  }
  
  .review {
    margin-top: 30px;
  }
  
  .review h2 {
    font-size: 24px;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .review button {
    margin-top: 10px;
  }
  
  .carousel-caption {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  /* .productCard{
    height: 580px;
    width: 310px;
  } */

  .prevPrice{
    color: grey;
    text-decoration: line-through;
  }
  .cardText{
    text-decoration: none;
  }
  .form{
  /* From https://css.glass */
    margin-top: 50px;
    border: 1px double black;
    border-radius: 20px;
    padding: 20px;
    background-image: url("../Logos/desktop-wallpaper-abstract-summer-landscape-jungle-waterfall-river-abstract-nature-background-artwork-3d-art-3d-landscape-for-with-resolution-high-quality.jpg");
    background-color: #6b6868;
    box-shadow: 10px 10px 10px gray;
    color: white;
    
  }

  .form_button{
    width: 150px;
    border: 1px solid black;
    box-shadow: 10px 10px 25px gray;
    color: white;
    
  }
  .form_button:hover{
    box-shadow: 20px 20px 45px gray;
  }
  .signInText{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    background-color: rgba(51, 161, 161, 0.712);
    padding: 10px;
    border-radius: 20px;
  }

  .placedOrderImage{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: fill;
  }
  .descriptionBox{
    width: 100%;
    height: 150px;
    
    }
    .paginate{
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
